.Header{
  width: 100%;
  // height: 90px;
  height:60px;
  background-color: #0dbb9e;
  //color:sandybrown;
  color: white;
  text-align: center;
  margin: 0 auto !important;

  h3{
    padding-top: 17px; 
  }

  .Header--Title{
    margin: 0px auto!important;

  }

  .Header--sampleName{
    float: left;
    padding-left: 3%;
    padding-top: 0px !important;  
  }

  .Header--userName{
    float: right;
    padding-right: 3%;
    padding-top: 0px !important; 
  }
}
